.about {
  display: grid;
  place-items: center;
  text-align: center;
  padding: 1rem 0.75rem;

  background: var(--c-blue);
  color: var(--c-white--l);
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .about {
    padding-block: 1.25rem;
    font-size: 1.125rem;
  }
}

