@import url('./animations.css');

.results--wrapper {
  padding-block: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 20rem;
}

.results__placeholder {
  color: var(--c-gray--ls);
  font-weight: 700;
  border-bottom: .25rem solid var(--c-white--ds);
}

.results__item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  padding-block: 1.25rem;

  animation: fade-in .3s forwards;
}

.item__banner {
  border-radius: .5rem;
  overflow: hidden;
}

.item--wrapper {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  flex: 3;
}

.item__title {
  font-weight: 700;
  hyphens: auto;
  font-size: 1.5rem;
  color: var(--c-black);
}

.item__details {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.item__details > * {
  border-radius: 1rem;
  padding: .5rem;
  background-color: var(--c-white);
  align-self: flex-start;
}

.details__price {
  min-width: max-content;
}

.item__options {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  font-size: .875rem;
}

.options__link {
  flex: 1;
  word-break: keep-all;
  padding: .75rem;
  border-radius: .25rem;
  color: var(--c-white--l);
  text-align: center;
}

.options__link:first-child {
  background-color: var(--c-purple--d);
}

.options__link:last-child {
  background-color: var(--c-blue--d);
}

@media screen and (min-width: 512px) {
  .item__options {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .results__placeholder {
    font-size: 1.125rem;
  }  

  .results__item {
    flex-direction: row;
  }

  .item__banner {
    flex: 1;
  }

  .item--wrapper {
    gap: 1rem;
    flex: 2;
  }

  .item__title {
    font-size: 1.625rem;
  }

  .item__options {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 1024px) {
  .results--wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .results__item {
    align-items: center;
    max-width: 30rem;
  }
}