@import url('./normalize.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./jobs.css');
@import url('./jobs-controllers.css');
@import url('./jobs-results.css');
@import url('./info.css');
@import url('./info-contact.css');
@import url('./footer.css');

:root {
  --c-purple--ds: hsl(273, 76%, 46%);
  --c-purple--d: hsl(273, 76%, 56%);
  --c-purple: hsl(273, 76%, 66%);
  --c-purple--l: hsl(273, 76%, 76%);
  --c-purple--ls: hsl(273, 76%, 86%);
  --c-blue--ds: hsl(240, 70%, 40%);
  --c-blue--d: hsl(240, 70%, 50%);
  --c-blue: #5252e0;
  --c-blue--l: hsl(240, 70%, 70%);
  --c-black--ds: #0d0d0d;
  --c-black--d: #1a191a;
  --c-black: #2e2d2e;
  --c-gray: hsl(300, 1%, 28%);
  --c-gray--l: hsl(300, 1%, 38%);
  --c-gray--ls: hsl(300, 1%, 48%);
  --c-white--ds: hsl(240, 1%, 68%);
  --c-white--d: #c6c6c7;
  --c-white: #e0e0e1;
  --c-white--l: #fafafa;
}

html {
  min-height: 100vh;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--c-black--d);
}

body * {
  color: inherit;
  font-size: inherit;
}

img {
  max-width: 100%;
}

input {
  width: auto;
}

a, button, label, input[type="submit"] {
  cursor: pointer;
}

.text--readonly {
  visibility: hidden;
  display: inline;
  position: absolute;
  z-index: -10;
}

.loading {
  background: url('../assets/images/loading_thumbnail.svg') center / 15rem no-repeat;
}